.articlePage{
    .ant-layout-header{
        position: relative;
        background-image: url('../../assets/images/nextheaderbgccompress.jpg');
        background-size: 100% 100%;
        height: 500px;
    }
    .ant-layout-content{
        position: relative;
        margin-top: 20px;
        margin-left: 50px;
        // width: 90%;
        padding-right: 25%;
        .labelList{
            top:50%!important
        }
        .slidertight{
            top: 0;
        }
        .ant-card-bordered{
            border: 2px solid rgb(141, 134, 134);
            .allContent{
                border-bottom: 1px solid gray;
                h1{
                    text-align: center;
                    font-weight: 700;
                    font-size: 30px;
                }
                .articleDeatil{
                    display: flex;
                    justify-content: space-around;
                    margin-top:1px ;
                    width: 60%;
                    margin: 0 auto;
                    img{
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                    }
                    .commentNum{
                        line-height: 45px;
                        svg{
                            color: red;
                        }
                        span{
                            color: red;
                        }
                    }
                    .like{
                        line-height: 45px;
                        span{
                            color:red
                        }
                    }
                    .data{
                        line-height: 45px;
                    }
                    .views{
                        line-height: 45px;
                        span{
                            color: blue;
                        }
                    }
                    .open{
                        line-height: 45px;
                        color: orange;
                        font-weight: 600;
                    }
                }
                .content{
                    margin-top: 10px;
                    font-size: 15px;
                    padding-left:40px ;
                    padding-right:40px ;
                   
                    // a{
                    //     display: block;
                    //     width: 98%!important;
                    //     overflow: scroll;
                    // }
                }
                .admire{
                    display: flex;
                    
                    div{
                        margin: 0 auto;
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        font-size: 20px;
                        text-align: center;
                        border: 1px solid rgb(153, 142, 142);
                        border-radius: 5px;
                       
                    }
                    .tip{
                        a{
                            font-size: 28px;
                            color: rgb(250, 115, 19);
                        }
                       
                    }
                    .like{
                        a{
                            color: red;
                        }
                        
                    }
                }
            }
            .moreInfo{
                display: flex;
                color: gray;
                font-size: 20px;
                margin-top: 10px;
                .sort{
                    margin-right: 40px;
                   
                }
                .label{
                    a{
                        margin-right: 5px;
                    }
                }
            }
            
        }
    }
}
.ant-popover-title{
    color: orangered;
    padding-left: 100px;
}
@media screen and (max-width: 700px){
    .articlePage{
        .ant-layout-header{
            height: 50vw;
        }
        .ant-layout-content{
            margin-left: 5vw!important;
            margin-right: 5vw!important;
            padding-right: 0!important;
            .ant-card-body{
                padding: 15px;
                .allContent{
                    h1{
                        font-size: 18px!important;
                    }
                    .articleDeatil{
                        width: 86vw;
                        font-size: 12px;
                        margin-left: -10px;
                        div{
                            height: 30px!important;
                            line-height: 30px!important;
                        }
                        .userInfo{
                            // height: 30px!important;
                            img{
                                width: 25px!important;
                                height: 25px!important;
                            }
                            
                        }
                        .commentNum{
                            // display: none;
                        }
                    }
                     .content{
                        padding-left: 0!important;
                        padding-right: 0!important;
                        font-size: 13px;
                        img{
                            width: 90%!important;
                        }
                        // li{
                            // a{
                            //     display: block;
                            //     width: 98%!important;
                            //     overflow: scroll;
                            // }
                        // }
                    }
                    .admire{
                        div{
                            height: 30px;
                            width: 30px;
                            line-height: 30px;
                            a{
                                // height: 30px!important;
                            }
                            span{
                                font-size: 20px;
                            }
                            
                        }
                        .tip{
                            span{
                                height: 100%;
                                display: block;
                                margin-bottom: 1px;
                                margin-top: 4px;
                            }
                            padding-bottom: 5px;
                        }   
                    }
                }
                .moreInfo{
                    font-size: 13px;
                }
            }
            .comment{
               
                    .commentMenu{
                        .ant-card-body{
                            padding: 10px!important;
                            .help{
        
                                top: 0vw;
                                font-size: 12px;
                                right: 0;
                                left: 20px;
                            }
                            .nick{
                                margin-top: 120px!important;
                                span{
                                    font-size: 19px;
                                }
                               
                            }
                            h1{
                                margin-top: 0px!important;
                                font-size: 19px;
                            } 
                            .replyObject{
                                font-size: 15px;
                            }
                            form{
                                margin-top: 0px!important;
                                // padding-bottom: 20px;
                                .userInfo{
                                    display: inline-block;
                                    width: 85vw;
                                    .ant-form-item-label label{
                                        font-size: 13px;
                                    }
                                    .ant-form-item{
                                        // height: 80px;
                                        margin: 0;
                                        // margin-top: 10px;    
                                        .ant-form-item-row{
                                            // display: flex;
                                            // justify-content: space-between;
                                            .ant-form-item-label{
                                                padding: 0;
                                                // display: inline;;
                                                // float: left;
                                            }
                                            .ant-form-item-control{
                                                //  display: inline;;
                                                // float: left;
                                                
                                            }
                                        }
                                    }
                                    .ant-form-item:nth-child(1){
                                        // display: inline;
                                        img{
                                            margin-left: 20px;
                                            width: 18vw!important;
                                            height: 18vw!important;
                                        }
                                    }
                                    .ant-form-item:nth-child(2){
                                        // display: inline;
                                        input{
                                            width: 70vw!important;
                                            margin-left: 15px;
                                        }
                                        
                                    }
                                    .ant-form-item:nth-child(3){
                                        input{
                                            width: 70vw!important;
                                            margin-left: 15px;
                                        }
                                        // label{
                                        //     margin-left: 10px;
                                        // }
                                    }
                                    .ant-form-item:nth-child(4){
                                        input{
                                            width: 70vw!important;
                                            margin-left: 15px;
                                        }
                                    }
                                }
                                .content{
                                    margin-top: 50px;
                                    .ant-form-item{
                                        margin: 0 0 10px;
                                    }
                                    .redit-menu{
                                        // font-size: 20px;
                                        .menu-item{
                                            width: 10vw;
                                            
                                            img{
                                                width: 6vw;
                                                height: 6vw;
                                            }
                                        }
                                    }
                                    .redit-select{
                                        .select-item{
                                            img{
                                                width: 6vw;
                                                height: 6vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .commentArea{
                        .ant-card-body{
                            padding:10px;
                            h1{
                                font-size: 19px;
                                font-weight: 500;
                            }
                            .commentandreply{
                                .commentOne{
                                    padding-left: 0;
                                    .left{
                                        img{
                                            width: 12vw!important;
                                            height:  12vw!important;
                                        }
                                    }
                                    .right{
                                        .info{
                                            .userName{
                                                font-size: 13px;
                                            }
                                            span:nth-child(2){
                                                font-size: 12px;
                                                color: rgb(152, 134, 134);
                                            }
                                        }
                                        .content{
                                            // margin-top: 10px;
                                            font-size: 13px;
                                        }
                                    }
                                }
                                .commentReply{
                                    padding-left: 15vw!important;
                                    .reply{
                                        .left{
                                            img{
                                                width: 12vw!important;
                                                height:  12vw!important;
                                            }
                                        }
                                        .right{
                                            .info{
                                                .userName{
                                                    font-size: 13px;
                                                }
                                                span:nth-child(2){
                                                    display: block;
                                                    font-size: 12px;
                                                    color: rgb(152, 134, 134);
                                                }
                                            }
                                            .content{
                                                // margin-top: 10px;
                                                font-size: 13px;
                                            }
                                        }
                                    }
                                    .thirdReply{
                                        .endReply{
                                            .left{
                                                img{
                                                    width: 12vw!important;
                                                    height:  12vw!important;
                                                }
                                            }
                                            .right{
                                                .info{
                                                    .userName{
                                                        font-size: 13px;
                                                        
                                                    }
                                                    span:nth-child(2){
                                                        // display: block;
                                                        font-size: 12px;
                                                        color: rgb(152, 134, 134);
                                                        
                                                    }
                                                }
                                                .content{
                                                    // margin-top: 10px;
                                                    font-size: 13px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
            }
        }
    }
    
}
@media screen and (max-width: 1500px)
{
    .allContent{
        .content{
            img{
                width: 100%;
            }
            // li{
                a{
                    display: block;
                    width: 98%!important;
                    overflow: scroll;
                }
            // }
           
        }
    }
   
}
