.music{
    .ant-layout-header{
        position: relative;
        background-image: url('../../assets/images/nextheaderbgc4.jpg');
        background-size: 100% 100%;
        height: 500px;
    }

    .ant-layout-content{
        margin-top: 20px;
        // margin-left: 15%;
        // width: 90%;
        // padding-right: 15%;
        margin: 0 auto;
       
    }
}
@media screen and (max-width: 600px){
    .music{
        .ant-layout-header{
            height: 50vw;
        }
        iframe{
            width: 90vw!important;
        }
    }
}