.leavewords{
    .ant-layout-header{
        position: relative;
        background-image: url('../../assets/images/nextheaderbgc5.jpg');
        background-size: 100% 100%;
        height: 500px;
    }
    
    .ant-layout-content{
        position: relative;
        margin-top: 20px;
        padding: 0 25vw;
        // width: 50%;
        
        .hottst{
            top: 0;
        }
        .slidertight{
            top: 0;
        }
        .messageMenu {
            position: relative;
            .help{
                position: absolute;
                right: 5%;
                top: 2%;
                display: inline-block;
                font-weight: 700;
                color: rgb(113, 120, 127);
                .icon{
                    color: orange;
                    font-weight: 700;
                }
                span{
                    color: red;
                }
            }
            .nick{
                span{
                    color: orange;
                    font-size: 25px;
                }
                margin-bottom: 10px;
            }
            h1{
                margin-top: 20px;
                color: red;
            }
            .replyObject{
                background: rgb(245, 233, 233);
                font-size: 20px;
                margin-bottom: 15px;
                .content{
                    padding-left: 60px;
                }
            }
            .ant-form{
                margin-top: 70px;
                .userInfo{
                    display: flex;
                    justify-content:space-between;
                    margin-left: -20px;
                    width: 106%;
                    height: 100px;
                    .ant-input{
                        font-size: 11px;
                    }
                    img{
                        height: 80px!important;
                        width: 80px;
                        border-radius: 30%;
                    }
                }
                .content{
                    width: 100%;
                }
                .submit{
                    text-align: center;
                }
                
            }
        }
        .messageArea{
            .commentOne{
                display: flex;
                // height: 100px;让内容撑开
                padding-left: 20px;
                clear: both;
                .left{
                    // float: left;
                    img{
                        border-radius: 30%;
                    }
               }
                .right{
                        margin-left: 10px;
                        // float: left;
                        .info{
                            .userName{
                                
                                margin-right: 10px;
                                color: red;
                                font-weight: 700;
                                i{
                                    color: rgb(227, 0, 204);
                                }
                            }
                            
                        }
                        .content{
                            p{
                                color: rgb(112, 101, 101);
                                font-weight: 300;
                                margin-top: 5px;
                            }
                            p:hover{
                                color: red;
                                font-weight: 300;
                            }
                            .ant-form {
                                border: 1px solid rgb(230, 217, 217);
                                padding: 5px;
                                .userInfo{
                                    display: flex;
                                }
                            }
                        }
                }
            }
          
           .commentReply{
                padding-left: 80px;
                
                .reply{
                    display: flex;
                    background: rgb(239, 239, 242);
                    
                    // border-radius: 10%;
                    .left{
                        // float: left;
                        padding-top: 12px;
                        img{
                            border-radius: 30%;
                        }
                    }
                    .right{
                            margin-left: 10px;
                            // float: left;
                            .info{
                                .userName{
                                    margin-right: 10px;
                                    color: red;
                                    font-weight: 700;
                                    .replyTitle{
                                        color: blue;
                                        margin-left: 5px;
                                        margin-right: 5px;
                                    }
                                    i{
                                        color: rgb(227, 0, 204);
                                    }
                                }
                                
                            }
                            .content{
                                p{
                                    color: rgb(112, 101, 101);
                                    font-weight: 300;
                                    margin-top: 5px;
                                }
                                p:hover{
                                    color: red;
                                    font-weight: 700;
                                }
                            }
                    }
                }
                .thirdReply{
                    .endReply{
                        display: flex;
                         background: rgb(239, 239, 242);
                         .left{
                            // float: left;
                            padding-top: 12px;
                            img{
                                border-radius: 30%;
                            }
                        }
                        .right{
                            margin-left: 10px;
                            // float: left;
                            .info{
                                .userName{
                                    margin-right: 10px;
                                    color: red;
                                    font-weight: 700;
                                    .replyTitle{
                                        color: blue;
                                        margin-left: 5px;
                                        margin-right: 5px;
                                    }
                                    i{
                                        color: rgb(227, 0, 204);
                                        span{
                                             color: red;

                                        }
                                    }
                                }
                                
                            }
                            .content{
                                p{
                                    color: rgb(112, 101, 101);
                                    font-weight: 300;
                                    margin-top: 5px;
                                }
                                p:hover{
                                    color: red;
                                    font-weight: 700;
                                }
                            }
                         }
                    }
                    
                 }
                
           }
            
        }
        
    }
}

@media screen and (max-width: 700px){
    .leavewords{
        .ant-layout-header{
            height: 50vw;
        }
        .ant-layout-content{
            padding: 0 5vw!important;
            .messageMenu{
                .ant-card-body{
                    padding: 10px!important;
                    .help{

                        top: 0vw;
                        font-size: 12px;
                        right: 0;
                        left: 20px;
                    }
                    .nick{
                        margin-top: 120px!important;
                        span{
                            font-size: 19px;
                        }
                       
                    }
                    h1{
                        margin-top: 0px!important;
                        font-size: 19px;
                    } 
                    .replyObject{
                        font-size: 15px;
                    }
                    form{
                        margin-top: 0px!important;
                        // padding-bottom: 20px;
                        .userInfo{
                            display: inline-block;
                            width: 85vw;
                            margin-left: 0!important;
                            // width: 106%;
                            .ant-form-item-label label{
                                font-size: 13px;
                            }
                            .ant-form-item{
                                // height: 80px;
                                margin: 0;
                                // margin-top: 10px;    
                                .ant-form-item-row{
                                    // display: flex;
                                    // justify-content: space-between;
                                    .ant-form-item-label{
                                        padding: 0;
                                        // display: inline;;
                                        // float: left;
                                    }
                                    .ant-form-item-control{
                                        //  display: inline;;
                                        // float: left;
                                        
                                    }
                                }
                            }
                            .ant-form-item:nth-child(1){
                                // display: inline;
                                img{
                                    margin-left: 20px;
                                    width: 18vw!important;
                                    height: 18vw!important;
                                }
                            }
                            .ant-form-item:nth-child(2){
                                // display: inline;
                                input{
                                    width: 70vw!important;
                                    margin-left: 15px;
                                }
                                
                            }
                            .ant-form-item:nth-child(3){
                                input{
                                    width: 70vw!important;
                                    margin-left: 15px;
                                }
                                // label{
                                //     margin-left: 10px;
                                // }
                            }
                            .ant-form-item:nth-child(4){
                                input{
                                    width: 70vw!important;
                                    margin-left: 15px;
                                }
                            }
                        }
                        .content{
                            margin-top: 50px;
                            .ant-form-item{
                                margin: 0 0 10px;
                            }
                            .redit-menu{
                                // font-size: 20px;
                                .menu-item{
                                    width: 10vw;
                                    
                                    img{
                                        width: 6vw;
                                        height: 6vw;
                                    }
                                }
                            }
                            .redit-select{
                                .select-item{
                                    img{
                                        width: 6vw;
                                        height: 6vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .messageArea{
                .ant-card-body{
                    padding:10px;
                    h1{
                        font-size: 19px;
                        font-weight: 500;
                    }
                    .commentandreply{
                        .commentOne{
                            padding-left: 0;
                            .left{
                                img{
                                    width: 12vw!important;
                                    height:  12vw!important;
                                }
                            }
                            .right{
                                .info{
                                    .userName{
                                        font-size: 13px;
                                    }
                                    span:nth-child(2){
                                        font-size: 12px;
                                        color: rgb(152, 134, 134);
                                    }
                                }
                                .content{
                                    // margin-top: 10px;
                                    font-size: 13px;
                                }
                            }
                        }
                        .commentReply{
                            padding-left: 15vw!important;
                            .reply{
                                .left{
                                    img{
                                        width: 12vw!important;
                                        height:  12vw!important;
                                    }
                                }
                                .right{
                                    .info{
                                        .userName{
                                            font-size: 13px;
                                        }
                                        span:nth-child(2){
                                            display: block;
                                            font-size: 12px;
                                            color: rgb(152, 134, 134);
                                        }
                                    }
                                    .content{
                                        // margin-top: 10px;
                                        font-size: 13px;
                                    }
                                }
                            }
                            .thirdReply{
                                .endReply{
                                    .left{
                                        img{
                                            width: 12vw!important;
                                            height:  12vw!important;
                                        }
                                    }
                                    .right{
                                        .info{
                                            .userName{
                                                font-size: 13px;
                                                
                                            }
                                            span:nth-child(2){
                                                // display: block;
                                                font-size: 12px;
                                                color: rgb(152, 134, 134);
                                                
                                            }
                                        }
                                        .content{
                                            // margin-top: 10px;
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .hootpart{
                display: none;
            }
        }
    }
}
@media  (min-width: 700px) and (max-width: 850px){
    .leavewords{
        .ant-layout-content{
            padding: 0 5vw!important;
            .replyObject{
                margin-top: 30px;
            }
        }
    }
}