.articles{
    // height: 1500px;
    // overflow: hidden;
    // overflow: scroll;
    
    .title{
        padding-left: 45%;
        color: black;
        font-size: 30px;
        .icon{
            color: red;
        }
    }
    .sorts{
        padding-bottom: 10px;
        a{
            margin-right: 20px;
            
        }
    }
    .ant-card{
        height: 420px!important;
        width: 47vw!important;
        .ant-card-body{
            height: 100%;   
            // display: flex;
            .contentImg{
                padding-right: 1vw;
                margin-left: 10px;
                float: right;
                img{
                    height: 19vw;
                    width: 17vw;
                }
            }
            .artileContent{
                // height: 100%;
                float: right;
                width: 24vw;
                .content{
                    display: block;
                    height:151px!important;
                    // overflow: scroll;
                    font-size: 12px!important;
                   /*第一步： 溢出隐藏 */
                    overflow: hidden;
                    /* 第二步：让文本不会换行， 在同一行继续 */
                    // white-space: nowrap;
                    /* 第三步：用省略号来代表未显示完的文本 */
                    text-overflow: ellipsis;
                    h1,h2,h3,h4,h5,h6{
                        font-size: 12px;
                        margin-bottom: 0!important;
                    }
                    p,ul,ol,li{
                        margin-bottom: 0!important;
                    }
                    img{
                        display: none   ;
                    }
                }
                .readMore{
                    margin: 0 auto;
                    margin-top: 5px;
                    // display: inline-block;
                    text-align: center;
                    width: 100px;
                    height: 40px;
                    line-height: 40px;
                    background:red;
                    border-radius: 30px;
                    box-shadow: 0 2px 2px 0 rgb(244 67 54 / 14%), 0 3px 1px -2px rgb(244 67 54 / 20%), 0 1px 5px 0 rgb(244 67 54 / 12%);
                    a{
                        color: white;
                    }
                    a:hover{
                        color: orange;
                    }
                }
                // span{}
                .articleDeatil{
                    display: flex;
                    justify-content: space-around;
                    margin-top:1px ;
                    width: 100%;
                    
                    img{
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                    }
                    .view{
                        font-size: 17px;
                        line-height: 45px;
                        span{
                            color:rgb(21, 0, 255)
                        }
                    }
                    .commentNum{
                        font-size: 17px;
                        line-height: 45px;
                        span{
                            color:rgb(255, 85, 0)
                        }
                    }
                    .data{
                        line-height: 45px;
                    }
                }
            }
        }
    }
    
   

    // @media screen and (max-width: 900px) {
    // }
}

/*  内部滚动条样式 ----- begin*/
// .articles::-webkit-scrollbar {
//     /*滚动条整体样式*/
//     width : 6px;  /*高宽分别对应横竖滚动条的尺寸*/
//     height: 1px;
// }
// /*滚动条里面小方块*/
// .articles::-webkit-scrollbar-thumb {
//     /*滚动条里面小方块*/
//     border-radius   : 5px;
//     background-color: #a8a6c5;
//     background-image: -webkit-linear-gradient(
//     45deg,
//     rgba(255, 255, 255, 0.3) 25%,
//     transparent 25%,
//     transparent 50%,
//     rgba(255, 255, 255, 0.3) 50%,
//     rgba(255, 255, 255, 0.3) 75%,
//     transparent 75%,
//     transparent
//     );
// }
// /*滚动条里面小方块*/
// /*.acrossTimeLine-body-box ::-webkit-scrollbar-thumb {
//     border-radius: 3px;
//     box-shadow   : inset 0 0 4px rgba(100, 169, 169, 0.48);
//     background   : #AAE9E5;
// }*/
// /*滚动条里面轨道*/
// .articles::-webkit-scrollbar-track {
//     border-radius: 6px;
//     background   :#04bac0;
// }
/*  内部滚动条样式 ----- end*/

@media  (min-width: 850px) and (max-width: 1210px) {
    .articles{
        .ant-card-body{
            padding: 0;
            .contentImg{
                // margin-top: 30px;
                img{
                    height: 25vw!important;
                    width: 20vw!important;

                }
            }
            .articleDeatil{
                .userInfo{
                    display: none;
                }
                
            }
            
        }
    }
    
}
@media  (min-width: 700px) and (max-width: 850px){
    .articles{
        .ant-card-body{
            padding: 0;
            .contentImg{
                display: none;
            }
            .artileContent{
                float: none!important;
                width: 40vw!important;
            }
        }
    }
    .data{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .articles .title{
        font-size: 20px!important;
    }
    .articles .ant-card{
        width: 83vw !important;
        height: 520px !important
    }
    .articles .ant-card .ant-card-body{
        display: block!important;
        width: 83vw!important;
        .contentImg{
            float: left;
            img{
                height: 180px;
                width: 100%;
            }
        }
        .artileContent{
            display: block;
            width: 100%;
            float: none;
           .content{
            height: 97px !important
           }
           .articleDeatil{
            width: 102%;
           }
        }
        .contentImg{
            float: none;
        }
    }


}
