.allLabels{
    // height: 100vh;
    // position: relative;
    // .ant-layout{
    //     height: 100vw;
    // }
    .ant-layout-header{
        position: relative;
        background-image: url('../../assets/images/nextheaderbgc2.jpg');
        background-size: 100% 100%;
        height: 500px;
    }

    .ant-layout-content{
        // height: 100vw;
        position: relative;
        // background-image: url('../../assets/images/middlebgc.jpg');
        // background-size: contain;
        background: rgb(201, 234, 234);
        padding-top: 20px;
        padding-left: 5%;
        padding-bottom: 80px;
        
        // width: 90%;
        padding-right: 30%;
        .showLabel{
            
            .ant-card-body{
                p{
                    font-size: 35px;
                    // color: orange;
                }
                .labelsList{
                    // display: flex;
                    //  height: 600px;
                    //  overflow:scroll;
                    .label{
                        float: left;
                        width: 220px;
                        height: 100px;
                        line-height: 100px;
                        text-align: center;
                        font-size: 28px;
                        font-weight: 700;
                        border: 1px solid gainsboro;
                        .num{
                            margin-left: 15px;
                        }
             
                    }
                    .label:hover{
                        color: red;
    
                    }
                }
                .echarts{
                    // padding: 0 50px;
                    margin: 0 auto;
                    // padding-left: 150px;
                }
            }
        }
        .showArticles{
            .articles{
                // height: 500px;
                // overflow:scroll
                // .ant-card{
                //     margin: 0 auto;
                // }
            }
        }
        
        .rightMenu{
            .hottst{
                width: 319px;
                margin-left: 0;
                margin-top: 350px;
            }
        }

    }
    .footer{
        margin-top: 0!important;
    }
}
@media screen and (max-width: 600px){
    .allLabels{
        .ant-layout-header{
            height: 50vw;
        }
        .ant-layout-content{
            padding-left: 5vw;
            padding-right: 5vw;
            .showLabel  p{
                font-size: 20px!important;
            }
            .ant-card-body{
                padding: 7px;
                
                .echarts{
                    width: 88vw!important;
                    height: 88vw!important;
                    
                }
                .echarts canvas{
                    width: 88vw!important;
                    height: 88vw!important;
                    font-size: 13px!important;
                }
                .labelsList{
                    // width: 90vw;
                    // display: flex;
                    .label{
                        width: 26vw!important;
                        height: 15vw!important;
                        line-height: 15vw!important;
                        font-size: 12px!important;
                    }

                }
                .showArticles{
                    .articles{
                        
                        .content{
                            .allLabels .ant-layout-content .ant-card-body p{
                                font-size: 12px!important;
                            }
                        }
                    }
                }
            }
        }
    }
}