.aboutme{
    // width: 100vh;
    .ant-layout{
        .ant-layout-content{
            width: 70%;
            // border: 1px solid red;
            margin: 0 auto;
            .bulletScreen{
                background-image: url('../../assets/images/bulletbgc.jpg');
                background-size: 100% 100%;
                .screen{
                    margin: 0 auto;
                    // border: 1px solid orange;
                    width: 60%;
                    height: 300px;
                }
                .bullet{
                    .title{
                        color: orange;
                        font-size: 22px;
                    }
                    input{
                        height: 32px;
                        width: 250px;
                    }
                    text-align: center;
                }
            }
            .userInfo{
                height: 400px;
                margin-top: 50px;
                h1{
                    font-size: 30px;
                    span{
                        color: orange;
                        margin-right: 5px;
                    }
                }
                .left{
                    float: left;
                    text-align: center;
                    img{
                        width: 185px;
                        height: 185px;
                        border-radius: 50%;
                    }
                    .title{
                        margin-top: 30px;
                        color: orange;
                    }
                }
                .right{
                    float: left;
                    margin-left: 50px;
                    ul{
                        list-style: none;
                        font-size: 18px;
                        li{
                            margin-top: 15px;
                        }
                    }
                }
            }
            .mylog{
                h1{
                    font-size: 30px;
                    span{
                        color: orange;
                        margin-right: 5px;
                    }
                }
                p{
                    font-size: 20px;
                }
            }
            .goal{
                margin-top: 50px;
                h1{
                    font-size: 30px;
                    span{
                        color: orange;
                        margin-right: 5px;
                    }
                }
                .content{
                    padding-left: 30px;
                    .one{
                        font-size: 20px;
                    }
                }
                
            }
        }
    }
}
@media screen and (max-width: 600px){
    .aboutmecontnet{
        margin: 0 auto;
        width: 90vw!important;
        .bulletScreen{
           
            height: 50vw;
            .screen{
                width: 70vw!important;
                height: 50vw!important;
                div{
                    .bullet-head{
                        margin-left: 33px;
                        width: 7vw!important;
                        height: 7vw!important;
                        img{
                            width: 7vw!important;
                             height: 7vw!important;
                        }
                    }
                    .bullet-msg{
                        font-size: 13px;
                    }
                }
            }
            .bullet{
                input{
                    height: 24px!important;
                    width: 40vw!important;
                }
                button{
                    // margin-top: 10px;
                    height: 24px!important;
                    span{
                        font-size: 12px!important;

                    }
                }
                .ant-btn{
                    line-height: 14px;
                }
            }
        }
        h1{
            font-size: 18px!important;
        }
        .userInfo{
            height: 80vw!important;
            .left{
                width: 35vw;
                img{
                    width: 25vw!important;
                    height: 25vw!important;
                }
            }
            .right{
                margin-top: -20px;
                margin-left: 0!important;
                span{
                    font-size: 13px!important;

                }
            }
        }
        .mylog{
            p{
                font-size: 14px!important;
            }
        }
        .goal{
            margin-top: 30px!important;
            .content{
                padding-left: 0!important;
                .one{
                    font-size: 14px!important;

                }
            }
        }
    }
}