.aboutme{
    // width: 100vh;
    .ant-layout{
        .ant-layout-content{
            width: 70%;
            // border: 1px solid red;
            margin: 0 auto;
            .bulletScreen{
                background-image: url('../../assets/images/bulletbgc.jpg');
                background-size: 100% 100%;
                .screen{
                    margin: 0 auto;
                    // border: 1px solid orange;
                    width: 55%;
                    height: 300px;
                   
                    
                }
                .bullet{
                    .title{
                        color: orange;
                        font-size: 22px;
                    }
                    input{
                        height: 32px;
                        width: 250px;
                    }
                    text-align: center;
                }
            }
            .userInfo{
                height: 400px;
                margin-top: 50px;
                h1{
                    font-size: 30px;
                    span{
                        color: orange;
                        margin-right: 5px;
                    }
                }
                .left{
                    float: left;
                    text-align: center;
                    img{
                        width: 185px;
                        height: 185px;
                        border-radius: 50%;
                    }
                    .title{
                        margin-top: 30px;
                        color: orange;
                    }
                }
                .right{
                    float: left;
                    font-weight: normal;
                    margin-left: 50px;
                    ul{
                        list-style: none;
                        font-size: 18px;
                        li{
                            margin-top: 15px;
                        }
                    }
                }
            }
            .mylog{
                h1{
                    font-size: 30px;
                    span{
                        color: orange;
                        margin-right: 5px;
                    }
                }
                p{
                    font-size: 20px;
                }
            }
            .skill{
                h1{
                    font-size: 30px;
                    span{
                        color: orange;
                        margin-right: 5px;
                    }
                }
                ul{
                    margin-left: 30px;
                    list-style: none;
                    font-size: 20px;
                }
            }
            .goal{
                margin-top: 50px;
                h1{
                    font-size: 30px;
                    span{
                        color: orange;
                        margin-right: 5px;
                    }
                }
                .content{
                    padding-left: 30px;
                    .one{
                        font-size: 20px;
                    }
                }
                
            }
        }
    }
    .highlight{
        font-weight: 500;
        color: orange;
    }
    .greast{
        font-weight: 700;
        color: red;
    }
    .iconab{
        color: rgb(254, 207, 0);
    }
}
@media screen and (max-width: 700px){
    .aboutmecontnet{
        margin: 0 auto;
        width: 90vw!important;
        .bulletScreen{
           
            height: 50vw;
            .screen{
                width: 50vw!important;
                height: 50vw!important;
                div{
                    .bullet-head{
                        margin-left: 33px;
                        width: 5vw!important;
                        height: 5vw!important;
                        img{
                            width: 5vw!important;
                             height: 5vw!important;
                        }
                    }
                    .bullet-msg{
                        font-size: 13px;
                    }
                }
            }
            .bullet{
                input{
                    height: 24px!important;
                    width: 40vw!important;
                }
                button{
                    // margin-top: 10px;
                    height: 24px!important;
                    span{
                        font-size: 12px!important;

                    }
                }
                .ant-btn{
                    line-height: 14px;
                }
            }
        }
        h1{
            font-size: 18px!important;
        }
        .userInfo{
            height: 65vw!important;
            .left{
                width: 31vw;
                img{
                    width: 25vw!important;
                    height: 25vw!important;
                }
            }
            .right{
                margin-top: -20px;
                margin-left: 0!important;
                span{
                    font-size: 13px!important;

                }
            }
        }
        .mylog{
            margin-top: 70px;
            h1{
                font-size: 18px!important;
            }
            p{
                font-size: 14px!important;
            }
        }
        .skill{
            ul{
                font-size: 14px!important;
            }
        }
        .goal{
            margin-top: 30px!important;
            .content{
                padding-left: 0!important;
                .one{
                    font-size: 14px!important;

                }
            }
        }
    }
}
@media  (min-width: 700px) and (max-width: 850px){
    .aboutme{
        .userInfo{
            .right{
                margin-left: 0!important;
            }
            .left{
                width: 30vw;
            }
        }
       
    }
}
@media screen and (max-width: 375px){
    .userInfo{
        height: 85vw!important;
        .left{
            // margin-left: 10vw;
            width: 35vw!important;
            img{
                width: 25vw!important;
                height: 25vw!important;
            }
        }
        .right{
            width: 90vw;
        }
    }
    .mylog{
        .right{
            font-size: 12px;
        }
    }
}