.slidertight{
    position: absolute;
    top: 20%;
    right: 2%;
  
   }

   @media screen and (max-width: 600px) {
    .slidertight{
        display: none;
        border: 1px solid rgb(255, 0, 0);
    }
}
@media  (min-width: 700px) and (max-width: 850px){
    .slidertight{
        display: none;
        border: 1px solid rgb(255, 0, 0);
    }
}